{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>Welcome to Movie Watchlist, {{ user.username }}</h1>



<h2>Items:</h2>



<!-- Display any message passed from the backend -->

{% if message %}

    <p><strong>{{ message }}</strong></p>

{% endif %}



<!-- This will display items from the database -->

<ul>

    {% for movie in movies%}
    <li>{{ movie.title }}</li>
    {% endfor %}

</ul>



<h3>Create Item</h3>

<!-- Form to create a new item, posts to /add -->

<form action="/add" method="POST">

    <input type="text" name="title" placeholder="Title" required>
    <input type="text" name="director" placeholder="Director" required>
    <input type="text" name="genre" placeholder="Genre" required>
    <input type="int" name="year" placeholder="Year" required>
    <input type="float" name="rating" placeholder="Rating" required>
    <input type="text" name="image" placeholder="Image" required>
    <input type="text" name="description" placeholder="Description" required>
    <button type="submit">Create</button>

</form>



<h3>Update Item</h3>

<!-- Form to update an existing item, posts to /update/<id> -->

<form action="/update" method="POST">

    <input type="number" name="id" placeholder="Item ID" required>

    <input type="text" name="name" placeholder="New Name" required>

    <button type="submit">Update</button>

</form>



<h3>Delete Item</h3>

<!-- Form to delete an existing item, posts to /delete/<id> -->

<form action="/delete" method="POST">

    <input type="number" name="id" placeholder="Item ID" required>

    <button type="submit">Delete</button>

</form>

{% endblock %}